*
{
  font-family: "Open Sans", serif;
}

html 
{
scroll-behavior: smooth;
}

*,html,body
{
    padding: 0;
    margin:0;
}

body {
    background-color: #1E1E1E;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    padding-bottom:75px;
   
}

body::-webkit-scrollbar {
    width: 0.7em;
    }
    
    body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    body::-webkit-scrollbar-thumb {
    background-color: #706f6f;
    }

ul a
{
    text-decoration: none;
    color: #E0E0E0;
    display: inline-block;
    position: relative;

}

ul a::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E0E0E0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

ul a:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}


ul
{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 7rem;
    font-size:20px;
    font-weight: bold;

}

.laptop
{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    font-weight: bold;
  
}

.lucide-laptop-minimal
{
    width:50px;
    height: 50px;
 
}

nav
{
    display:flex;
    justify-content: space-between;
    margin:0 6rem 0 2rem;
    align-items: center;
    padding:1rem 0;
    
}

.bg-nav
{

    background-color:#313131;
    box-shadow: 0px 2px 5px 1.5px rgba(0,0,0,0.7);

}

.bg-logo
{
    transition: transform .2s;
}

.bg-logo:hover
{
    transform:scale(1.1);
    cursor:default;
}

#about
{
    text-align:center;
    max-width: 1000px;
   
}

section
{
    margin: 0 auto;
    line-height: 1.4;
    font-size: 19px;
    color: #ddd;
    padding: 40px 20px;
}

section h2
{
    text-align: center;
}

hr
{

    width: 75%;
}

.br
{
    display:flex;
    justify-content: center;
}

#about a
{
    color:transparent;
    text-decoration: none;
}

#about img
{
    width:50px;
    height: 50px;
}

.about-languages
{
    display:flex;
    justify-content: center;
    gap:1.4rem;
}